*~
/vim/.vim/plugged
/vim/.vim/pack
/vim/.vim/spell
/vim/.vim/.netrwhist
/git/.config/git/local
.uuid
/systemd/.config/systemd/user/*.wants/*
/systemd/.config/systemd/user/resticprofile-*
!/systemd/.config/systemd/user/default.target.wants/.keep
/tags*
/neovim/.config/nvim/lazy-lock.json
