[init]
    templatedir = ~/.git_template
[alias]
    pl = log --oneline --graph --decorate
    l = log --stat --graph --decorate --abbrev-commit --date=relative
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[commit]
    gpgSign = true
    template = ~/.gitmessage
[color]
    ui = true
[log]
    decorate = auto
[push]
    default = current
[status]
    showuntrackedfiles = all
[transfer]
    fsckobjects = true
[include]
    path = ~/.gitconfig.local
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

