/vim/dot-vim/plugged
/vim/dot-vim/pack
/vim/dot-vim/spell
/vim/dot-vim/.netrwhist
/git/git/local
/x11/xmonad/dot-xmonad/*
!/x11/xmonad/dot-xmonad/xmonad.hs
/emacs/dot-emacs.d/*
!/emacs/dot-emacs.d/init.el
.uuid
/systemd/systemd/user/*.wants/*
!/systemd/systemd/user/default.target.wants/.keep
