Xft.dpi:                144

Xcursor.theme:          dmz
Xcursor.size:           36

XTerm*loginShell:       true
XTerm*faceName:         monospace:size=11
XTerm*metaSendsEscape:  true

*.termName:             xterm-256color
*.saveLines:            20000
*.scrollBar:            false

XTerm.vt100.translations:   #override\
    Meta <KeyPress> C: copy-selection(CLIPBOARD, PRIMARY, CUT_BUFFER0)\n\
    Meta <KeyPress> V: insert-selection(CLIPBOARD, PRIMARY, CUT_BUFFER0)\n\

