! Xft.dpi                      :192
! Xft.autohint                 :0
! Xft.lcdfilter                :default
! Xft.hintstyle                :hintfull
! Xft.hinting                  :1
! Xft.antialias                :1
! Xft.rgba                     :rgb

! xterm
.xterm*borderColor           :#000000
.xterm*internalBorder        :4

.xterm*faceName              :monospace
.xterm*faceSize              :10

.xterm*saveLines             :10000

.xterm*selectToClipboard     :true
.xterm*utmpInhibit           :true
.xterm*pointerMode           :2

.xterm*title                 :xterm
.xterm*termName              :xterm-256color

.xterm*visualBell            :false

.xterm*Translations          :#override \
        Ctrl Shift <Key>V    :insert-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>C    :copy-selection(CLIPBOARD)

.xterm*metaSendsEscape       :true


.dark*borderColor           :#000000
.dark*internalBorder        :4

.dark*faceName              :monospace
.dark*faceSize              :10

.dark*saveLines             :10000

.dark*selectToClipboard     :true
.dark*utmpInhibit           :true
.dark*pointerMode           :2

.dark*title                 :xterm
.dark*termName              :xterm-256color

.dark*visualBell            :false

.dark*Translations          :#override \
        Ctrl Shift <Key>V    :insert-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>C    :copy-selection(CLIPBOARD)

.dark*metaSendsEscape       :true


.dark*background            :black
.dark*foreground            :gray80


! XScreenSaver
xscreensaver.splash          :false
